<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/common :: myheader"></div>
</head>
<body>
<div th:replace="fragments/common :: navbar"></div>
<div class="container">
    <div th:if="${isUserActivated != null}" class="alert-${messageType}" th:text="${isUserActivated}">
        New user login result
    </div><!--message сообщение user активирован из RegistrationController-->
    <form th:action="@{/login}" method="post"><!--в MvcConfig замапили на страницу login вместо стандартной-->
        <div class="mb-3">
            <label for="username" class="form-label">User Name:</label>
            <div class="col-6">
                <input type="text" class="form-control" name="username" id="username" placeholder="User name">
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <div class="col-6">
                <input type="password" class="form-control col-6" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <a class="mt-5" th:href="@{/registration}">Add new user</a>

    <div th:insert="fragments/common :: foot"></div>
</div>
</body>
</html>