<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<span><a th:href="@{/user}">User list</a></span>
<div>
    <form th:action="@{/main}" method="post" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <input type="text" name="tag" placeholder="Тэг"/>
        <input type="file" name="file">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<div th:if="${messages.isEmpty()}">
    <div>No messages</div>
</div>
<div th:if="${!messages.isEmpty()}">
    <div>
        <form th:action="@{/main}" method="get">
            <input type="text" name="filter" th:value="${filter}">
            <button type="submit">Найти</button>
        </form>
    </div>
    <div th:each="message : ${messages}">
        <b th:text="${message.id}"></b>
        <span th:text="${message.text}"></span>
        <i th:text="${message.tag}"></i>
        <strong th:text="${message.authorName}"></strong>
        <div th:if="${message.filename} != null">
            <img th:src="@{/img/{filename}(filename = ${message.filename})}">
        </div>
    </div>
</div>

</body>
</html>