<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <div th:replace="fragments/common :: myheader"></div>
</head>
<body>
<div th:replace="fragments/common :: navbar"></div>
<div class="container">

    <div class="row g-3"><!--поиск по tag-->
        <div class="col-md-6">
            <form th:action="@{/main}" method="get" class="form-inline"><!--MainController-->
                <input type="text" name="filter" th:value="${filter}" placeholder="Search by tag"/>
                <button type="submit" class="btn btn-primary ms-2">Search</button>
            </form>
        </div>
    </div>

    <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseExample" role="button"
       aria-expanded="false"
       aria-controls="collapseExample">
        Add new message
    </a>

    <div class="collapse mt-2" th:classappend="${message.text != null || message.tag != null} ? show : ''"
         id="collapseExample">
        <!--добавление нового сообщения с файлом-->
        <form th:action="@{/main}" method="post" enctype="multipart/form-data" th:object="${message}">
            <input type="text" class="form-control" name="text" placeholder="Введите сообщение"
                   th:classappend="${#fields.hasErrors('text')} ? is-invalid : ''"
                   th:value="${message.text != null} ? ${message.text} : ''"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">
                Text Error
            </div>
            <input type="text" class="form-control" name="tag" placeholder="Введите тэг"
                   th:classappend="${#fields.hasErrors('tag')} ? is-invalid : ''"
                   th:value="${message.tag !=null} ? ${message.tag} : ''"/>
            <div class=" invalid-feedback" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">
                Tag Error
            </div>
            <input type="file" class="form-control" placeholder="Choose file"/>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
        </form>
    </div>

    <div th:if="${page.isEmpty}"><!--если список сообщений пустой-->
        <div>No messages</div>
    </div>
    <div th:if="${!page.isEmpty()}"><!--если список сообщений не пустой, заместо messages теперь page-->
        <div th:replace="fragments/pageable :: pagination"></div>
        <!--        <ul class="pagination">-->
        <!--            <li class="page-item disabled">-->
        <!--                <a class="page-link" tabindex="-1">Страницы</a>-->
        <!--            </li>-->
        <!--            <div th:each="p : ${#numbers.sequence( 1, page.getTotalPages())}">-->
        <!--                <div th:if="${p-1 == page.number}">-->
        <!--                    <li class="page-item active">-->
        <!--                        <a class="page-link" href="#" tabindex="-1" th:text="${p}">Page №</a>-->
        <!--                    </li>-->
        <!--                </div>-->
        <!--                <div th:unless="${p-1 == page.number}">-->
        <!--                    <li class="page-item">-->
        <!--                        <a class="page-link" th:href="${url + '?page=' + (p - 1)+ '&size=' + page.getSize()}"-->
        <!--                           tabindex="-1" th:text="${p}">Page</a>-->
        <!--                    </li>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </ul>-->

        <!--        <ul class="pagination">-->
        <!--            <li class="page-item disabled">-->
        <!--                <a class="page-link" tabindex="-1">Элементов на странице</a>-->
        <!--            </li>-->
        <!--            <div th:each="c : ${#numbers.sequence(5, 50, 5)}">-->
        <!--                <div th:if="${c == page.getSize}">-->
        <!--                    <li class="page-item active">-->
        <!--                        <a class="page-link" href="#" tabindex="-1" th:text="${c}">Count messages</a>-->
        <!--                    </li>-->
        <!--                </div>-->
        <!--                <div th:unless="${c == page.getSize}">-->
        <!--                    <li class="page-item">-->
        <!--                        <a class="page-link" th:href="${url + '?page=' + page.getNumber()+ '&size=' + c}" tabindex="-1"-->
        <!--                           th:text="${c}">Page</a>-->
        <!--                    </li>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </ul>-->
        <div class="card-group row-cols-3" id="message-list" data-masonry='{"percentPosition": true }'>
            <!--упорядочиваем карточки-->
            <div th:each="message : ${page.content}">
                <div class="card my-3 mx-3" data-th-id="${message.id}">
                    <!--создаем карточки, data-th-id для тестов-->
                    <div th:if="${message.filename} != null">
                        <img th:src="@{/img/{filename}(filename = ${message.filename})}" class="card-img-top"
                             alt="...">
                        <!--в MvcConfig обрабатывается /img/{filename} и загружается-->
                    </div>
                    <div class="card-body m-2">
                        <span th:text="${message.text}"></span><br/>
                        <i th:text="${message.tag}"></i>
                        <div class="card-footer">
                            <a class="link-primary" th:href="@{/user-messages/{id} (id = ${message.author.id})}"
                               th:text="${message.author.username}">My messages</a>
                            <a class="btn btn-primary"
                               th:if="${message.author.id == #authentication.principal.id}"
                               th:href="@{/user-messages/{authorId}?message={messageId} (authorId = ${message.author.id}, messageId = ${message.id})}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:insert="fragments/common :: foot"></div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async="async"></script>
</body>
</html>
