<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <div th:replace="fragments/common :: myheader"></div>
</head>
<body>
<div th:replace="fragments/common :: navbar"></div>
<div class="container">

    <div class="row g-3"><!--поиск по tag-->
        <div class="col-md-6">
            <form th:action="@{/main}" method="get" class="form-inline"><!--MainController-->
                <input type="text" name="filter" th:value="${filter}" placeholder="Search by tag">
                <button type="submit" class="btn btn-primary ms-2">Search</button>
            </form>
        </div>
    </div>

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Add new message
    </a>

    <div class="collapse mt-2" id="collapseExample"><!--добавление нового сообщения с файлом-->
        <form th:action="@{/main}" method="post" enctype="multipart/form-data">
            <input type="text" class="form-control" name="text" placeholder="Введите сообщение"/>
            <input type="text" class="form-control" name="tag" placeholder="Тэг"/>
            <input type="file" class="form-control" placeholder="Choose file">
            <button class="btn btn-primary mt-2" type="submit">Добавить</button>
        </form>
    </div>

    <div th:if="${messages.isEmpty()}"><!--если список сообщений пустой-->
        <div>No messages</div>
    </div>
    <div th:if="${!messages.isEmpty()}"><!--если список сообщений не пустой-->

        <div th:each="message : ${messages}">
            <!--            <b th:text="${message.id}"></b>-->
            <!--            <span th:text="${message.text}"></span>-->
            <!--            <i th:text="${message.tag}"></i>-->
            <!--            <strong th:text="${message.authorName}"></strong>-->
            <!--            <div th:if="${message.filename} != null">-->
            <!--                <img th:src="@{/img/{filename}(filename = ${message.filename})}">-->
            <!--                &lt;!&ndash;в MvcConfig обрабатывается /img/{filename} и загружается&ndash;&gt;-->
            <!--            </div>-->

            <div class="card my-3" style="width: 18rem;">
                <div th:if="${message.filename} != null">
                    <img th:src="@{/img/{filename}(filename = ${message.filename})}" class="card-img-top" alt="...">
                    <!--в MvcConfig обрабатывается /img/{filename} и загружается-->
                </div>
                <div class="card-body m-2">
                    <span th:text="${message.text}"></span>
                    <i th:text="${message.tag}"></i>
                    <div class="card-footer" th:text="${message.authorName}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/common :: foot"></div>

</body>
</html>