<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/common :: myheader"></div>
</head>
<body>
<div th:replace="fragments/common :: navbar"></div>
<div class="container">
Adding new user
<div th:if="${message != null}" th:text="${message}">message</div><!--message сообщение об ошибке если user уже существует-->
<!--<form th:action="@{/registration}" method="post">-->
<!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--    <div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
    <form th:action="@{/registration}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">User Name:</label>
            <div class="col-6">
                <input type="text" class="form-control" name="username" id="username" placeholder="User name">
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <div class="col-6">
                <input type="password" class="form-control col-6" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <div class="col-6">
                <input type="email" class="form-control col-6" name="email" id="email" placeholder="some@some.come">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>

<div th:insert="fragments/common :: foot"></div>
</div>
</body>
</html>